@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
    background: #DDDDDD;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

a.active {
    color: #93C5FD;
}